section {
  display: flex;
  width: 230px;
  justify-content: space-between;
  align-items: center;
  align-self: center;
}
span {
  font-size: 64px;
  color: var(--stronger-pink);
  margin-top: 10px;
  margin-bottom: 15px;
}
