

@import url('https://fonts.googleapis.com/css2?family=Yesteryear&family=Zeyada&display=swap');

:root {
  --background-yellow:#FFF8BC;
  --stonger-yellow:#FFE898;
  --lighter-pink:#FF87B2;
  --stronger-pink: #F65A83;
  --yesteryear-font-family:"Zeyada", cursive;
}

body {
  margin: 0;
  font-family: var(--yesteryear-font-family);
  background-color: var(--background-yellow);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
